//Colors
$grey: #333;
$nice-blue: #1779ba;
$white: #fff;

//Navigation colors
$nav-background: $grey;
$nav-text-color: $white;

//Font
$primary-font: opensans-semibold;
$nav-title-font: opensans-bold;
